<div class="container">
  <%= form_for @event do |f| %>
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@event.errors.count, "error") %> prohibited
          this event from being saved:
        </h2>
        <ul>
          <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
   
    <p>
      <%= f.label :name, value: 'Name of Event' %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :location_name, id: 'location_name', value: 'Name of Location' %>
      <%= f.text_field :location_name, readonly: true %>
    </p>
    <p>
      <%= f.label :location_address, id: 'location_address', value: 'Address of Location' %>
      <%= f.text_field :location_address, readonly: true %>
    </p>
    <p>
      <%= f.label :start_time %>
      <%= f.text_field :start_time, id: 'date_timepicker_start' %>
    </p>
    <p>
      <%= f.label :end_time %>
      <%= f.text_field :end_time, id: 'date_timepicker_end' %>
    </p>
    <script>jQuery(function(){
 jQuery('#date_timepicker_start').datetimepicker({
    
  onShow:function( ct ){
   this.setOptions({
    maxDate:jQuery('#date_timepicker_end').val()?jQuery('#date_timepicker_end').val():false
   })
  },
  timepicker:true
 });
 jQuery('#date_timepicker_end').datetimepicker({
    
  onShow:function( ct ){
   this.setOptions({
    minDate:jQuery('#date_timepicker_start').val()?jQuery('#date_timepicker_start').val():false
   })
  },
  timepicker:true
 });
});</script>
<!--     <p>
      <%= f.label :gender %>
      <%= f.text_field :gender %>
    </p> -->
    <p>
      <%= f.hidden_field :lat, id: 'lat' %>
    </p>
      <p>
      <%= f.hidden_field :lng, id: 'lng' %>
    </p>
    <p>
      <%= f.hidden_field :place_id, id: 'place_id' %>
    </p>
    <p>
      <%= f.submit %>
    </p>
    <% end %>

</div>

