<% content_for :header do %>
  <%= javascript_include_tag 'eventDatetimepickerConfig' %>   
<% end %>

<div class="container">
  <%= form_for @event do |f| %>
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@event.errors.count, "error") %> prohibited
          this event from being saved:
        </h2>
        <ul>
          <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

   <form>
    <div class="form-group">
    <p>
      <%= f.label :name, value: 'Name of Event' %>
      <%= f.text_field :name, class: 'form-control'%>
    </p>
    <p>
      <%= f.label :place_name, id: 'location_name', value: 'Name of Location' %>
      <%= f.text_field :place_name, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :place_address, id: 'location_address', value: 'Address of Location' %>
      <%= f.text_field :place_address, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :start_time %>
      <%= f.text_field :start_time, id: 'date_timepicker_start', class: 'form-control' %>
    </p>
    <p>
      <%= f.label :end_time %>
      <%= f.text_field :end_time, id: 'date_timepicker_end', class: 'form-control' %>
    </p>
 
<!--     <p>
      <%= f.label :gender %>
      <%= f.text_field :gender %>
    </p> -->
    <p>
      <%= f.hidden_field :lat, id: 'lat' %>
    </p>
      <p>
      <%= f.hidden_field :lng, id: 'lng' %>
    </p>
    <p>
      <%= f.hidden_field :place_id, id: 'place_id' %>
    </p>
    <p>
      <%= f.submit "Create DrinkUp", class: 'btn btn-default' %>
    </p>
    <% end %>
    </div>
    </form>

</div>

