<% content_for :header do %>
  <%= javascript_include_tag 'eventRenderer', 'listRenderer' %>  
<% end %>

<h1 class="section_header">Drinkups Around You</h1>
<img class="loading-spinner" src=<%= image_path('loading.gif') %> alt="Loading drinkups" />

<%= link_to new_event_path, class: "btn btn-primary pull-right" do %>
    <span class="glyphicon glyphicon-plus"></span> Create Drinkup
<% end %>

<div class="center">
 <div id="error">
   <p></p>
 </div>
   <div id="locationField">
   <input id="autocomplete" placeholder="Where Are You?" type="text"></input>
       <br>
   </div>    
   <div id="map"></div>
</div>

<div id="drinkup_listing" class="container">

    <%= render 'drinkupDetails' %>

    <div id="event_links">
      <%= link_to('Show', "#", :id => "event_link_show") %>
      <%= link_to('Attend', "#", :id => "event_link_attend") %>
    </div>
</div>
<h1 class="section_header">My Events</h1>
<%= render 'resultsList' %>

