 <h1 class="section_header">Drinkups Around You</h1>
<%= link_to 'Create Drinkup', new_event_path, :class => 'col-md-12 text-right' %>
  <% @events.each do |event| %>
<p><b>Event Name:</b><%= event.name%></p>
<p><b>Lat:</b><%= event.lat%></p>
<p><b>Long:</b><%= event.lng%></p>
<p><b>Date and Time:</b><%= event.datetime%></p>
<p><b>Gender:</b><%= event.gender%></p>
<%= link_to 'Show', event_path(event) %>
<%end%>