 
<h1>Listing All Events</h1>
<%= link_to 'Add New Event', new_event_path %>
  <% @events.each do |event| %>
<p><b>Event Name:</b><%= event.name%></p>
<p><b>Lat:</b><%= event.lat%></p>
<p><b>Long:</b><%= event.lng%></p>
<p><b>Date and Time:</b><%= event.datetime%></p>
<p><b>Gender:</b><%= event.gender%></p>
<%= link_to 'Show', event_path(event) %>
<%end%>