<%= link_to 'Back to Event Index', events_path%>
<h1>Event:</h1>
<p><b>Event Name:</b><%= @event.name%></p>
<p><b>Lat:</b><%= @event.lat%></p>
<p><b>Long:</b><%= @event.lng%></p>
<p><b>Start Date and Time:</b><%= @event.start_time%></p>
<p><b>End Date and Time:</b><%= @event.end_time%></p>
<p><b>Gender:</b><%= @event.gender%></p>
<%= link_to 'Edit', edit_event_path(@event)%> |
<%= link_to 'Destroy', event_path(@event),
              method: :delete,
              data: { confirm: 'Are you sure you want to delete this event?' }%>