<%= link_to 'Back to Event Index', events_path%>
<h1>Event:</h1>
<p><strong>Event Name: </strong><%= @event.name%></p>
<p><strong>Lat: </strong><%= @event.lat%></p>
<p><strong>Long: </strong><%= @event.lng%></p>
<p><strong>Start Time: </strong><%= @event.start_time%></p>
<p><strong>End Time: </strong><%= @event.end_time%></p>
<p><strong>Gender: </strong><%= @event.gender%></p>

<p><strong>Attendees: </strong></p>
<% @event.attendees.each do |attendee| %>
<p><%= "#{attendee.user.first_name} #{attendee.user.last_name}" if attendee.is_attending %></p>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) if @creator_status %>
<%= link_to 'Destroy', event_path(@event),
              method: :delete,
              data: { confirm: 'Are you sure you want to delete this event?' }  if @creator_status  %>