<!DOCTYPE html>
<html>
<head>
  <title>Drinkup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'react' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- header = nav bar -->
  <%= render 'layouts/header' %>
  <div class="container">	
    <!-- flash displays messages from controller -->
    <% flash.each do |message_type, message| %>
    <div class="col-md-6 col-md-offset-3">
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    </div>
    <% end %>
    <!-- yield = view -->
    <%= yield %>
  </div>
</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
