<% content_for :header do %>
  <%= javascript_include_tag 'chat', 'utcTimeConverter', 'showRenderer', 'eventShared' %>  
<% end %>

<%#= link_to 'Back to Event Index', events_path, :class=>"clear block"%>
<h1 class="clear"><%= @event.name %></h1>
<div id="show_event_details_body" class ="col-md-6">
  <div id="drinkup_listing" class="container-fluid">
  <h3>Event Details</h3>
    <div id="drinkup_details_partial">
    
  <table class="table">
      <tr>
        <td><h4>Location: </h4></td>
        <td><p id="drinkup_location_name"><%= @event.place_name%></p></td>
      </tr>
      <tr>
        <td><h4>Address: </h4></td>
        <td><p id="drinkup_location_address"><%= @event.place_address%></p></td>
      </tr>
      <tr>
        <td><h4>Start Time: </h4></td>
        <td><p id="drinkup_start_time"><%= @event.start_time%></p>
            <p id="start_time_zone"><%= @event.timeZoneId %></p></td>
      </tr>
      <tr>
        <td><h4>End Time: </h4></td>
        <td><p id="drinkup_end_time"><%= @event.end_time%></p>
            <p id="end_time_zone"><%= @event.timeZoneId %></p></td>
      </tr>
      </table>

      <div class="drinkup_detail"><h4>Top Conversations: </h4><div id="drinkup_conversations"></div></div>
    </div>
  </div>

  <div id="drinkup_attendees">
    <h4>Attendees: </h4>
    <p><%= "The creator of this event is no longer attending, but you can still plan to meet up with other attendees." unless @creator_attending %></p>
    <% @event.attendees.each do |attendee| %>
    <p><%= link_to("#{attendee.user.first_name} #{attendee.user.last_name}", user_path(attendee.user)) if attendee.is_attending %></p>
    <% end %>
  </div>
</div>

<div id="show_event_chat_body" >
<div class="chat col-md-6 col-xs-12">
<h3>Drinkup Messenger</h3>
  <div class="chatboxcontent" id="chatbox_<%= @chat.id %>">
      <% if @messages.any? %>
          <%= render @messages %>
      <% end %>
  </div>
  <div class="chatboxinput">

      <%= form_for([@chat, @message], :remote=> true, :html => {id: "chat_form_# {@chat.id}"}) do |f| %>
      <%= f.text_area :body, class: "chatboxtextarea", "data-cid" => @chat.id %>
      <div class="chat-form-btns" >    
          <%= f.submit "Send", class: "btn btn-primary btn-sm btn-submit"%>
      </div>
    <% end %>
  </div>
</div>
<%= subscribe_to chat_path(@chat) %>
</div>
<div class="container">
  <div class="col-md-12" >
  <hr>
    <%= link_to 'Edit', edit_event_path(@event), class: "btn btn-default btn-info button_wrapper_edit_event" if @creator_status %>
    <%= link_to 'Delete', event_path(@event), class: "btn btn-danger button_wrapper_edit_event",
                  method: :delete,
                  data: { confirm: 'Are you sure you want to delete this event?' }  if @creator_status  %>
  </div>
</div>



