<% content_for :header do %>
  <%= javascript_include_tag 'profileDatepickerConfig' %>    
<% end %>

  <div class="row">
    <%= form_for(@user, html: {class: 'form-horizontal'}) do |f| %>
    <%= render 'shared/error_messages' , object: f.object %>
    <!-- left column -->

    <div class="col-md-4 text-center">
      <%= render partial: 'portrait', locals: {curr_user: f} %>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 personal-info">
      <% if params[:action] != "new" %>
      <h3>Personal Information</h3>
      <%end%>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <%= f.label :first_name, class: "col-lg-3 control-label"%>
          <div class="col-lg-8">
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>
        </div>
        <div class="field form-group">
          <%= f.label :last_name, class: "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>
        </div>
        <div class="field form-group">
          <%= f.label :date_of_birth, class: "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.text_field :date_of_birth, id: 'profileDatepicker', class: 'form-control' %>
          </div>
        </div>
          <div class="field form-group">
            <%= f.label :email, class: "col-lg-3 control-label"%>
            <div class="col-lg-8">
            <%= f.email_field :email, class: 'form-control' %>
            </div>
          </div>
          <div class="actions form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
            <% if params[:action] == "new" %>
              <%= f.submit "Create My Account", class: "btn btn-primary" %>
            <%else%>
              <%= f.submit "Save Changes", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </form>
    <% end %>
  </div>
