
<!-- left column -->
<div class="col-md-4 text-center">
  <%= render 'portrait' %>
</div>
<!-- edit form column -->
<div class="col-md-8">
<h3>Personal Information</h3>

  <table class="table">
    <tr>
      <td><strong>Name</strong></td>
      <td><%= "#{@user.first_name} #{@user.last_name}" %></td>
    </tr>
    <tr>
      <td><strong>Email</strong></td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td><strong>Date of Birth</strong></td>
      <td><%= @user.date_of_birth %></td>
    </tr>
  </table>
  <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-default btn-info pull-right " if @user == current_user %>
</div>
